*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
/.idea/caches
/app/src/main/assets/inceptionv3_slim_2016.tflite
/app/src/main/assets/mobilenet_quant_v1_224.tflite